@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 3
   
   Author:   Colby Abbott
   Date:      10/31/19
   
   Filename: cw_styles.css

   This file contains the screen styles used with the 
   Cauli-Wood Gallery home page

*/


/* Import Basic Design Styles  */
/*number 3*/
@import "cw_styles.css";
/* ===============================
	General Styles for All Devices
   ===============================
*/
/*number 4*/
nav#bottom ul{
    display: flex;
    display: -webkit-flex;
    flex-flow: nowrap;
    -webkit-flex-flow: nowrap;
    justify-content: center;
}
/*number 5*/
nav#bottom ul{
    
}


/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
	



/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

